lingdu/lingdu.xsd/src/main/resources/META-INF/mysql-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.tqmall.com/schema/mysql" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.tqmall.com/schema/mysql"
            elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    <xsd:import namespace="http://www.springframework.org/schema/tool"/>

    <!--元素-->
    <xsd:element name="datasource">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
				Creates a DataSource for DB
			]]></xsd:documentation>
        </xsd:annotation>
        <!--复合类型-->
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
						Unique name for this DataSource factory used as a bean definition identifier.
					]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="driver-class-name" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
						The driverClassName of the DataSource.
					]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="password" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
						The password of the DataSource.
					]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="username" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
						The username of the DataSource.
					]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="url" type="xsd:string" use="required">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
						The url of the DataSource.
					]]></xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
